html {
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #e4e1e1;
}
h1 {
  font-size: 24px;
  margin: auto;
  color: white;
  background: black;
  padding: 16px;
  width: 250px;
}
img {
  display: block;
  margin: 30px auto;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
h2 {
  font-weight: normal;
}

h3 {
  margin-left: 30%;
  margin-bottom: 50px;
}
.capslock {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.center {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
ul {
  list-style-type: none;
  margin-left: 30%;
}

li {
  text-align: left;
  color: #676363;
  font-size: 15px;
}
dfn {
  font-style: italic;
  display: block;
  margin-top: 8px
}
#popisok {
  margin: 60px 25% 100px 25%;
  text-align: center;
  font-style: italic;
}
.text {
  text-transform: none;
  color:black;
  font-size: 13px;
  margin-bottom: 40px;
}
